/* this style will apply to the whole body... */

@media only screen and (min-width: 290px){
    .banner {
        width: 290px;
        height: 215px;
        float: left;
        color: white;
        background-color: red;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 75px;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px){
    .colorscheme {
        color: #47167F;
        color: #B779FF;
        color: #8E2DFF;
        color: #5C3D7F;
        color: #7224CC;
    } 
    body {
        background-color: black;
    }
    a {
        color: green;
    }
    .container {
        margin: 0 auto;
        width: 1366px;
        height: 768px;
        background-color: #8E2DFF;

    }
    .banner {
        width: 1366px;
        height: 215px;
        float: left;
        color: white;
        background-color: #47167F;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 75px;
        text-align: center;
    }
    .nav{
        width: 215px;
        height: 553px;
        float: left;
        background-color: #B779FF;
    }
    .content{
        width: 1121px;
        height: 523px;
        background-color: orange;
        float: left;
        padding: 15px;
    }

    .testDiv{
        width: 200px;
        height: 200px;
        background-color: green;
        float: right;
        padding: 15px;
    }
}

